{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<body>
<!--Sezione che mostra il credito-->
<div class="container-2">
<main class="main-2">
        <br>
        <br>
        <span class="btl-back" onclick=location.href='/'>&#8630; Back</span>
             <br>
             <br>

            <br>
            <br>
            <br>


    <!--In che modo aggiornare il valore del credito?-->
    <div class="circle">
        <div class="outer">
            <div class="inner">
                <div id="coins-number">
                    0€
                </div>
            </div>
        </div>
</div>
    <br>
    <br>
    <br>


</main>
</div>
</body>
</html>

{% endblock %}