{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}
{% block header %}{%endblock%}
{% block content %}

    <div class="welcome-up">
        <p class="welcome-p">
           Welcome
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
        <p class="welcome-p1">
            Rent your scooter to move freely in your city!
        </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="btl-ps">
            <div class="col-12">

                <button
                        class="btl"
                        onclick=location.href='/login'>
                    Login
                </button>

                <button
                        class="btl"
                        onclick=location.href='/sign-up'>
                    Sign Up
                </button>

            </div>
        </div>


{% endblock %}